/* New Design */
:root {
    --primary-bg: #fff7f1; /* Background color */
    --primary-text: #2B1B12; /* Dark green for text */
    --secondary-text: #010339; /* Muted green */
    --primary-bg-dark: #fae4d4; /* Highlight color */
    --button-bg:#2b1b12; /* Button background */
    --button-hover: #fae4d4; /* Button hover */
    --button-text: #fff; /* Button text */
    --light-blue: #EAF3FA;
    --banner:#DDC7BB;
    --font-family: 'Playfair Display', serif;

} 
.bg-primary {
    background-color: var(--primary-bg); /* Background color */
}
.bg-banner{
    background-color: var(--banner);
}
.border{
    color: var(--primary-bg-dark); 
}
.text-primary {
    color: var(--primary-text); /* Dark green for text */
}
.dark-primary{
    color: var(--primary-bg-dark);
}
.text-secondary {
    color: var(--secondary-text); /* Muted green */
}

.bg-primary-dark {
    background-color: var(--primary-bg-dark); /* Highlight color */
}


.bg-button {
    background-color: var(--button-bg); /* Button background */
}

.bg-button-hover {
    background-color: var(--button-hover); /* Button hover */
}

.text-button {
    color: var(--button-text); /* Button text */
}
.bg-lightBlue {
    background-color: var(--light-blue);
}

.rounded-full {
    border-radius: 9999px;
}

/* General Text Styles */
.font-primary {
    font-family: var(--font-family); /* Primary font */
}



