/* :root {
    --grey-light: #f7f7f7;
    --grey-lighter: #e1e1e1;
    --grey: #bdbdbd;
    --grey-dark: #757575;
    --grey-darker: #424242;
    --grey-darkest: #212121;
    --custom-color: #c5a47e;
} */

/* :root {
    --bg-cream: #f5f5dc; 
    --grey-light: #f7f7f7;
    --grey-lighter: #e1e1e1;
    --grey: #bdbdbd;
    --grey-dark: #757575;
    --grey-darker: #424242;
    --grey-darkest: #212121;
    --custom-color: #c5a47e;
} */
:root {
    --primary-bg: #fefae0; /* Background color */
    --primary-text: #283618; /* Dark green for text */
    --secondary-text: #606c38; /* Muted green */
    --accent-color: #dda15e; /* Highlight color */
    --button-bg: #bc6c25; /* Button background */
    --button-hover: #a65b1e; /* Button hover */
    --button-text: #fff; /* Button text */
    --font-family: 'Playfair Display', serif;
} 
.bg-cream {
    background-color: var(--bg-cream);
}
/* .bg-custom {
    background-color: var(--custom-color);
} */

.text-custom {
    color: var(--custom-color);
}
.bg-grey-light {
    background-color: var(--grey-light);
}

.bg-grey-lighter {
    background-color: var(--grey-lighter);
}

.bg-grey {
    background-color: var(--grey);
}

.bg-grey-dark {
    background-color: var(--grey-dark);
}

.bg-grey-darker {
    background-color: var(--grey-darker);
}

.bg-grey-darkest {
    background-color: var(--grey-darkest);
}

.text-grey-light {
    color: var(--grey-light);
}

.text-grey-lighter {
    color: var(--grey-lighter);
}

.text-grey {
    color: var(--grey);
}

.text-grey-dark {
    color: var(--grey-dark);
}

.text-grey-darker {
    color: var(--grey-darker);
}

.text-grey-darkest {
    color: var(--grey-darkest);
}
